$offWhite: #edebe4;
$hoverGradient: linear-gradient(30deg, skyblue, lightcoral);
$activeGradient: linear-gradient(30deg, lightcoral, skyblue);

#nav1 {
    position: absolute;
    border-bottom: 1px solid black;
    flex-basis: 100%;
    width: 100%;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Style the navbar */
.navbar {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: $offWhite;
    height: 48px;

    a {
        height: 100%;
        position: absolute;
        width: 20%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        align-self: center;
        justify-self: center;
        text-align: center;

        &.active {
            background-image: $activeGradient;
            text-shadow: 0px 0px 10px white;
            border-right: 0.5px solid black;
            color: white;
            position: absolute;
            width: 20%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: white;
            }
        }
        &:link {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }
    }

    li {
        list-style: none;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offWhite;
        transition:
            box-shadow 0.3s ease,
            width 0.3s ease,
            background-color 0.3s ease;
        &:hover {
            box-shadow:
                -5px 0px 5px 0px rgba(0, 0, 0, 0.5),
                5px 0px 5px 0px rgba(0, 0, 0, 0.5);
            z-index: 2;
            transition:
                box-shadow 0.3s ease,
                width 0.3s ease;
            a {
                background-color: $offWhite;
                color: white;
                text-shadow: 0px 0px 10px white;
                font-weight: bolder;
                position: absolute;
                width: 20.5%;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid black;
                border-left: 1px solid black;

                &::before {
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
        }
        a {
            align-self: center;
            justify-self: center;
            color: black;
            text-decoration: none;
            width: 20%;
            flex: 1;
            display: block;
            font-weight: bold;
            text-align: center;
            padding-top: 14px;
            padding-bottom: 14px;
            border-right: 0.5px solid black;
            border-left: 0.5px solid black;
            transition:
                text-shadow 0.3s ease,
                color 0.3s ease,
                box-shadow 0.3s ease,
                width 0.3s ease,
                border 0.3s ease;
            transition: all 0.3s ease;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: $hoverGradient;
                opacity: 0;
                z-index: -1;
                transition: opacity 0.3s ease;
            }
        }
    }
}
