$mainBlack: #171616;
$secondBlack: #1a1a1a;
$thirdBlack: #333;
$offWhite: #edebe4;
$pageBack: #faf9f6;
$hoverGradient: linear-gradient(30deg, skyblue, lightcoral);
$activeGradient: linear-gradient(30deg, lightcoral, skyblue);
// $primary: skyblue;
$primary: #646cff;
