<article class="textbox">
    <div class="sidelines">
        <h1 id="blogTitle">Hello, Blog!</h1>
        <div class="blogContainer" id="blogList"></div>
        <div class="blogContainer" id="newPost" style="display: none">
            <div id="bigTitleDiv">
                <div class="titleContainer">
                    <span
                        id="title"
                        class="inputSpan"
                        contenteditable="true"
                        data-placeholder="Title"
                    ></span>
                </div>
            </div>

            <div class="textContainer">
                <textarea
                    type="text"
                    class="text"
                    id="text"
                    placeholder="Text"
                ></textarea>
            </div>

            <button id="newPostSubmit">Submit</button>
        </div>
        <button id="newPostButton">New Post</button>
    </div>
</article>
