* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Menlo", "Monaco", "Courier New", "Courier", "monospace";
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  min-height: 200vh;
  background-color: #edebe5;
  scroll-behavior: smooth;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#content {
  width: 100%;
  opacity: 1;
  animation: slide-in 0.5s forwards;
}
#content.fade-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0; /* Add this line */
  }
  to {
    transform: translateX(0);
    opacity: 1; /* Add this line */
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1; /* Add this line */
  }
  to {
    transform: translateX(-100%);
    opacity: 0; /* Add this line */
  }
}
#nav1 {
  position: absolute;
  border-bottom: 1px solid black;
  flex-basis: 100%;
  width: 100%;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Style the navbar */
.navbar {
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-color: #edebe4;
  padding: 0px;
  margin-bottom: 0px;
  height: 48px;
}
.navbar a {
  height: 100%;
  position: absolute;
  width: 20%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.navbar a.active {
  background-image: linear-gradient(30deg, lightcoral, skyblue);
  text-shadow: 0px 0px 10px white;
  border-right: 0.5px solid black;
  color: white;
  position: absolute;
  width: 20%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a.active:hover {
  color: white;
}
.navbar a:link {
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar a:active {
  text-decoration: none;
}
.navbar li {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edebe4;
  transition: box-shadow 0.3s ease, width 0.3s ease, background-color 0.3s ease;
}
.navbar li:hover {
  box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.5), 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: box-shadow 0.3s ease, width 0.3s ease;
}
.navbar li:hover a {
  background-color: #edebe4;
  color: white;
  text-shadow: 0px 0px 10px white;
  font-weight: bolder;
  position: absolute;
  width: 20.5%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.navbar li:hover a::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.navbar li a {
  align-self: center;
  justify-self: center;
  color: black;
  text-decoration: none;
  width: 20%;
  flex: 1;
  display: block;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  transition: text-shadow 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, width 0.3s ease, border 0.3s ease;
  transition: all 0.3s ease;
}
.navbar li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(30deg, skyblue, lightcoral);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.textbox {
  margin: 40px 0px 0px 0px;
  background-color: #faf9f6;
  /* used to be white also #edebe4*/
  min-height: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.textbox h1 {
  padding: 40px 40px 0px 0px;
}

.splitrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.splitrow img {
  max-width: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  max-height: 120vh;
  object-fit: contain;
  flex: 1;
}

.my-paras {
  padding: 40px 40px 0px 0px;
}

.imgdiv {
  padding-left: 5px;
  border-left: 1px solid black;
  max-width: 60%;
}

.half {
  flex: 1;
}

.sidelines {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0px 1px 5px 1px;
  padding: 0px 5px 5px 40px;
  min-height: 120vh;
}

/* container for todo List + button and input */
#TodoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

/* container for todo input  + Button*/
#TodoBar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: left;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 48px;
}

/* Todo Input styling */
#TodoInput {
  width: calc(100% - 48px);
  height: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  display: inline;
  border-radius: 0px;
  border: 1px solid black;
  padding-left: 10px;
}
#TodoInput:focus {
  border: 1px solid black;
  border-radius: 0px;
  outline: none;
  padding-left: 10px;
}

/* Todo Button styling */
#TodoButton {
  height: 48px;
  width: 48px;
  border-radius: 0px;
  background-color: black;
  color: #edebe4;
  border: 1px solid black;
  border-left: 0px solid black;
}
#TodoButton:hover {
  background-color: #edebe4;
  cursor: pointer;
  color: black;
}
#TodoButton:active {
  background-image: linear-gradient(30deg, skyblue, lightcoral);
  color: white;
  text-shadow: 0px 0px 10px white;
}
#TodoButton p {
  font-size: 15px;
  font-weight: lighter;
  margin-right: 0px;
  display: inline;
}

/* container for todo list */
#listContainer {
  flex-basis: 100%;
}

#TodoList {
  background-color: #edebe4;
  border: 1px solid black;
}
#TodoList li {
  list-style: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
#TodoList li:last-child {
  margin-bottom: 10px;
}
#TodoList li:hover {
  text-shadow: 0px 0px 4px 8px black;
  font-weight: bold;
}
#TodoList li:empty {
  display: none;
  border: 0px solid black;
}

/* navbar display for Todo List */
#pro {
  display: flex;
  position: absolute;
  flex-basis: 100%;
  height: 48px;
  width: 20.2%;
  margin-top: 48px;
  margin-right: 19.5%;
  margin-left: 59.92%;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #edebe4;
}
#pro p {
  text-align: center;
  font-weight: bold;
}

#music {
  width: 50%;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#audios {
  z-index: 1;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  height: 300px;
  padding-right: 100px;
  max-width: 400px;
  background-color: #edebe4;
  border: 1px solid black;
  box-shadow: black 2px 2px 6px;
}

.player {
  padding: 10px;
  background-color: #edebe4;
  flex: 0 0 auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin-left: 50px;
  width: 300px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.player.centered {
  opacity: 1;
}

.playPauseButton {
  border: 1px solid black;
  color: black;
  background-color: #edebe4;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
}
.playPauseButton:hover, .playPauseButton:active, .playPauseButton:focus {
  background-color: #1a1a1a;
  color: #edebe4;
}

.playBar {
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 0;
}

.volumeIcon {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  cursor: pointer;
  transition: color 0.25s;
}
.volumeIcon:hover {
  color: #646cff;
}

.volumeSlider {
  background-color: whitesmoke;
  transform: rotate(-90deg);
  margin-right: -240px;
  padding: 0;
  width: 80px;
  margin-bottom: 40px;
}

.bottom {
  width: 100% s;
}

.timeBar {
  display: flex;
  width: 100%;
  border-radius: 5px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 13px;
  margin-top: -5px;
}

.seekSlider[type=range] {
  width: 100%;
  padding: 10px 0;
  height: 3px;
  border-radius: 0.5rem;
  color: white;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /*  slider progress trick  */
  overflow: hidden;
  background-clip: content-box;
}
.seekSlider[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: black;
  overflow: hidden;
}
.seekSlider[type=range]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 10px;
  width: 20px;
  background-color: #646cff;
  /*  slider progress trick  */
  box-shadow: -407px 3px 3px 400px #646cff;
}

/*=========== PRESET STYLES===============*/
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s, color 0.25s;
}
button:hover {
  border: 2px solid #646cff;
}
button:focus,
button active {
  border: 2px solid #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ff9c93;
  }
  .playPauseButton {
    align-self: center;
    color: black;
  }
  .player {
    background-color: lightcoral;
  }
}
#projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  padding-right: 40px;
}

/*# sourceMappingURL=style.css.map */
